<h1>Laba9#input</h1>
<p>Find me in app/views/laba9/input.html.erb</p>
<h1>Лабораторная работа № 9 "Поиск счастливых шестизначных номеров"</h1>
<%= form_tag("/laba9/view", :method => "get") do %>
 <%= label_tag("Введите N (0 ≤ n ≤ 999999):") %>
 <%= text_field_tag(:v1) %> <br/>
 <br/>
 <%= submit_tag("Выполнить поиск") %>
<% end %>